.pagina{
    background-color: rgb(250, 237, 237);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 50px;
    z-index: -1;
}

.pagina .lateral{
    background-color: black;
    overflow: hidden;
    display: flex;
    float: left;
    height: 100%;
    width: 50px;
    position: static;
    z-index: 0;
}
.pagina .centro{
    background-color: rgb(255, 212, 215);
    height: 100vh;
    width: 500px;
    position: unset;
    margin-left: 50px;
    translate: right;
    z-index: 1;
    top: 0;
}
.lateral .botones{
    background-color: rgb(243, 121, 121);
    color: white;
    height: 0px;
    width: 50px;
    margin-bottom: auto;
}
.botones .down{
    background-color: rgb(243, 121, 121);
    color: white;
    height: 100px;
    width: 50px;
    margin-bottom: auto;
}
.botones button{
    background-color: rgb(226, 43, 67);
    color: white;
    height: 50px;
    width: 50px;
    border: hidden;
}
.botones button:hover{
    background-color: rgb(221, 114, 137);
}

.arriba{
    background-color: rgb(235, 229, 230);
    height: 70px;
    width: 500px;
    position: unset;
    margin-left: 0px;
    z-index: 3;
    top: 0;
}
.btn-group{
    height: 30px;
    width: 480px;
    margin-left: 10px;
    border-color: brown;
}

.arriba .btn-group label:hover{
    background-color: brown;
    color: white;
    border-color: white;
}

.arriba .btn-group label{
    width: 200px;
    text-size-adjust: 5px;
    color: brown;
    border-color: rgb(235, 229, 230);
}