.contenidom{
    background-color: rgb(255, 221, 221);
    height: 100vh;
    width: calc(100%);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.contaador{
    margin: auto;
    background-color: rgb(238, 164, 164);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 470px;
    width: 970px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px 15px 15px 15px;
}

.contaador .arriba{
    margin-top: 10px;
    background-color: rgb(214, 153, 153);
    color: white;
    position: absolute;
    top: 0;
    border: 1px;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    margin: 10px;
    max-width: 950ppx;
    align-self: center;
}

.contaador .otrocontenidom{
    margin-top: 60px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 45px;
}

.otrocontenidom input{
    width: 140px;
}

.primero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.segundo{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.tercero{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.cuarto{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.quinto{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.sexto{
    display: flex;
    align-items: center;
}